<div class="header">
  <mat-toolbar color="primary">
    <img src="./assets/img/logo.png">

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <div class="button-row">
      <a mat-stroked-button routerLink=".">Search</a>
    </div>
    <img class="avatar" [matMenuTriggerFor]="menu" src="./assets/img/user-full.jpg">
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item>Settings</button>
      <mat-divider></mat-divider>
      <button mat-menu-item>Log out</button>
    </mat-menu>

  </mat-toolbar>
</div>