<div class="container">
  <div class="row" infiniteScroll [infiniteScrollDistance]="3" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
 <mat-card class="main-post-container">
  <mat-card *ngFor="let post of posts" class="post">
    <mat-card-header>
      <mat-card-title>
        <img src="../../../../assets/img/avatar.png"> 
      </mat-card-title>
      <mat-card-subtitle><h3>{{post.profile.login}}</h3></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3 class="content">{{post.text}}</h3>
      <p class="date">Date: <span>{{post.datetime | date:'short'}}</span></p>
    </mat-card-content>
  </mat-card>
 </mat-card>
    
   </div>
</div>