<div class="MainContainer">
  <div class="MainContent">
    <div class="MainContentLine">
      <div class="MainContentText">
        <div>
          <h1>Registration form</h1>
          <p>Shorty is an Ukrainian online news and social networking service</p>
        </div>

      </div>
      <mat-card class="MainContentForm">
        <mat-card>

            <form [formGroup]="registrationForm" class="MainContentFormInputs">
              <mat-form-field>
                <input matInput formControlName="emailInput" [(ngModel)]="user.email" placeholder="Email" >
                <mat-error *ngIf="registrationForm.controls.emailInput.invalid">
                  {{getEmailErrorMessage()}}
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Login" [(ngModel)]="user.login" formControlName="loginInput">
                <mat-error *ngIf="registrationForm.controls.loginInput.invalid">
                  {{getLoginErrorMessage()}}
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput formControlName="passwordInput" [(ngModel)]="user.password" placeholder="Password" [type]="hide ? 'text' : 'password'">
                <mat-error *ngIf="registrationForm.controls.passwordInput.invalid">
                  {{getPasswordErrorMessage()}}
                </mat-error>
                <mat-icon matSuffix (click)="hide = !hide" matTooltip="Show password">{{hide ? 'visibility' :
                  'visibility_off'}}
                </mat-icon>
              </mat-form-field>

            </form>

          <button mat-raised-button color="warn" (click)="onSubmit()">Sing up</button>
          <p>
            Already have an account? <a href="login"> Sing in now!</a>
          </p>
        </mat-card>

      </mat-card>
    </div>
  </div>
  <div class="Footer">
    Through a combination of creativity, determination, and (a lot of) carefully crafted code, the future is being
    built every day.
  </div>
</div>