@import '../../_global-style.scss';

mat-toolbar 
{
  background-color: $primary-color;
}

.mat-stroked-button {
  color: $primary-text;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.avatar
{
    height: 52px;
    width: 52px;
}

.button-row
{
  margin-left: 10%;
  margin-right: 3%;
}

.logo
{
  max-height: 50px; 
}