<div class="header">
  <mat-toolbar color="primary">
    <img class="logo" src="./assets/img/logo.png">

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <div class="button-row">
      <a mat-stroked-button routerLink=".">Search</a>
    </div>
    <img class="avatar" [matMenuTriggerFor]="menu" src="./assets/img/avatar.png">
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="MyProfile()">Profile</button>
      <button mat-menu-item routerLink="/settings">Settings</button>
      <mat-divider></mat-divider>
      <button value="click" (click)="Logout()" mat-menu-item>Logout</button>
    </mat-menu>
  </mat-toolbar>
</div>