@import '../../../_global-style.scss';
@import '../../../../sass/variables.scss';

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
background-color: $secondary-color !important;
}
.tab-control{
    background-color: $secondary-dark-color;
    padding: 3px;
    padding-top: 16px;
    mat-card{

    }
}
::ng-deep .mat-tab-label-content{
    color: black;
}
// .mat-tab-label
// {
//     color: $primary-text !important;
// }