$desktop: 960px;
$tablet: 768px;
$mobile-large: 640px;
$mobile: 480px;
$mobile-small: 300px;

$primary-color: #212121;
$primary-light-color:#484848;
$primary-dark-color: #000000;
$primary-text:#ffffff;
$secondary-color:#d50000;
$secondary-light-color:#ff5131;
$secondary-dark-color:#9b0000;
$secondary-text:#ffffff;

$font-light: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";