<div class="container">
 <!-- <div class="row" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
  <mat-card *ngFor="let post of posts" class="post">
      <mat-card-header>
        <div mat-card-avatar class="avatar"></div>
        <mat-card-title>
          <span> {{post.profile.name}} </span>
          <span>  {{post.profile.lastName}} </span>
        </mat-card-title>
        <mat-card-subtitle>{{post.profile.login}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="content">{{post.text}}</p>
        <p class="date">Date: <span>{{post.datetime | date:'short'}}</span></p>
      </mat-card-content>
    </mat-card>
  </div> -->
</div>