$primary-color: #212121;
$primary-light-color:#484848;
$primary-dark-color: #000000;
$primary-text:#ffffff;
$secondary-color:#d50000;
$secondary-light-color:#ff5131;
$secondary-dark-color:#9b0000;
$secondary-text:#ffffff;