<mat-card class="user-info-border">
  <mat-card class="user-info-card">
    <img src="./assets/img/avatar.png" [matMenuTriggerFor]="menu">
    <div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="MyProfile()">Profile</button>
        <button mat-menu-item>Settings</button>
        <mat-divider></mat-divider>
        <button value="click" (click)="Logout()" mat-menu-item>Logout</button>
      </mat-menu>
      <h2>
        <span>{{profile?.name}}</span>
        <span> {{profile?.lastName}} </span>
      </h2>
        
      <h4><i><span>@{{profile?.login}}</span></i></h4>
      <h3>About me:</h3>
      <h4>{{profile.location}}</h4>
      <button *ngIf="!isUser" value="click" (click)="toggleRelationship()" mat-button>{{this.labelName}}</button>
    </div>

      
  </mat-card>
</mat-card>