@import '../../../../sass/variables.scss';

@media only screen and (min-width: $tablet) {
  .flex-container {
    overflow: hidden;
    display: flex;
    margin: 1em;
    flex-direction: row;
  }

  .info {
    flex: 1;
  }

  .tabs {
    flex: 3;
    flex-grow: 10;
    min-width: 0;
  }
}
